<div class="nav navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/">
            <div class="navbar-brand">
                jupez
            </div>
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="/posts" class="nav-link">posts</a>
            </li>
        </ul>
    </div>