<html lang="en">
  {{>head}}
  <body>
    {{>nav}}
    <div class="container">
      <form method="POST" class="m-3">
        <div class="form-group">
            <label for="title">Url</label>
            <input type="text" name="url" id="url" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-success">Scrape</button>
    </form>
    </div>
  </body>
</html>